* {
  margin: 0;
  box-sizing: border-box;
}

#drumkit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 18px;
  border: double green;
}

button {
  display: flex;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  border-radius: 18px;
  border-color: blueviolet;
  background-color: darkcyan;
  box-shadow: 5px 2px 0 2px springgreen;
}

button:hover {
  background-color: blue;
  box-shadow: 10px 10px 10px 10px purple;
}
